body{
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right,#ff8c00,rgb(236, 86, 44));
}
.box{
    position: absolute;
    top: 30% ;
    left: 50% ;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.10);
    padding: 20px;
    border-radius: 20px;
}
fieldset{
    border: 3px solid white;
}
legend{
    border: 2px solid white;
    padding: 10px;
    text-align: center ;
    background-color: white;
    border-radius: 10px;
}
.inputbox{
    border: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 3px solid white;
    outline: none;
    color: white;
    font-size: 20px;
    width: 100%;
    letter-spacing: 2px;

}
h1{
    text-align: center;
    
}
button{
     text-align: center;
     background-color:black ;
     color: white;
     background-image: linear-gradient(to right,rgb(231, 237, 243), rgb(237, 232, 247));
     width:20%;
     border: none;
     padding: 15px;
     color: black;
     font-size: 15px;
     cursor: pointer;
     border-radius: 10px;
    
    
}

div.centralizado {
    text-align: center;

}
#teste1{
    background-image: linear-gradient(to right,rgb(231, 237, 243), rgb(237, 232, 247));
            width: 100%;
            border: none;
            padding: 15px;
            color: black;
            font-size: 15px;
            cursor: pointer;
            border-radius: 10px;
}
.table{
    width: 50%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
   
}
td{
    padding: 2px;
}


  

